<p-card header="Cadastro de Pessoa">
  <form id="form" #form="ngForm" class="form-components">
    <div class="row">
      <div class="col-12">
        <p-toast ></p-toast>
      </div>

      <div class="col-12" *ngIf="pessoa?.id">
        <div class="form-group image-container">
          <img [src]="pessoa?.image ? pessoa.image : '/assets/avatar.jpg'" alt="imagem">

          <p-fileUpload mode="basic"
                        name="image"
                        chooseLabel="Selecionar Foto"
                        [url]="urlUpload"
                        invalidFileSizeMessageSummary="{0}: Tamanho do arquivo inválido"
                        invalidFileSizeMessageDetail="Máximo permitido de: {0} "
                        accept=".jpg,.png,.jpeg,.bmp"
                        maxFileSize="1000000"
                        (onUpload)="onUpload($event)"
                        (onError)="onError($event)"
                        [auto]="true">
          </p-fileUpload>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="form-group">
          <label for="nome" i18n="@@nome">Nome</label>
          <input [(ngModel)]="pessoa.nome"
                 #nome="ngModel"
                 id="nome"
                 maxlength="150"
                 name="nome"
                 pInputText
                 required
                 aria-describedby="username-help"
                 type="text"/>
          <small *ngIf="nome.invalid && (nome.dirty || nome.touched)" id="username-help" class="p-invalid">Nome não informado.</small>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="form-group">
          <label for="cpf" i18n="@@cpf">CPF</label>
          <input [(ngModel)]="pessoa.cpf"
                 #cpf="ngModel"
                 id="cpf"
                 maxlength="11"
                 name="cpf"
                 pInputText
                 formatCpf
                 required
                 aria-describedby="cpf-help"
                 type="text"/>
          <small *ngIf="cpf.invalid && (cpf.dirty || cpf.touched)" id="cpf-help" class="p-invalid">CPF não informado.</small>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="form-group">
          <label for="email" i18n="@@email">E-mail</label>
          <input [(ngModel)]="pessoa.email"
                 #email="ngModel"
                 id="email"
                 maxlength="400"
                 name="email"
                 required
                 aria-describedby="email-help"
                 pInputText/>
          <small *ngIf="email.invalid && (email.dirty || email.touched)" id="email-help" class="p-invalid">E-mail não informado.</small>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="form-group">
          <label for="dataDeNascimento" i18n="@@dataDeNascimento">Data Nasc.</label>
          <p-calendar [(ngModel)]="pessoa.dataDeNascimento"
                      #dataDeNascimento="ngModel"
                      required
                      dataType="string"
                      dateFormat="dd/mm/yy"
                      id="dataDeNascimento"
                      name="dataDeNascimento">
          </p-calendar>
          <small *ngIf="dataDeNascimento.invalid && (dataDeNascimento.dirty || dataDeNascimento.touched)" id="dataDeNascimento-help" class="p-invalid">Data de nascimento não informado.</small>
        </div>
      </div>
    </div>
  </form>
  <p-footer>
    <div class="action-buttons">
      <button pButton type="button" label="Salvar"
              class="p-button" (click)="salvar()">
      </button>

      <button pButton type="button" label="Novo"
              class="p-button-secondary" (click)="novo()">
      </button>
    </div>

  </p-footer>
</p-card>
