<app-pessoa-filtro (pesquisar)="pesquisar($event)" (limpar)="pesquisar($event)"></app-pessoa-filtro>
<p-card header="Pessoas">
  <p-table [value]="pessoas"
           [lazy]="true"
           (onLazyLoad)="load($event)"
           [paginator]="true"
           [rows]="10"
           [totalRecords]="totalRecords"
           [showCurrentPageReport]="true"
           [rowsPerPageOptions]="[10]"
           [loading]="loading">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>
          <span>Nome</span>
        </th>
        <th>
          <span>CPF</span>
        </th>
        <th style="word-break: break-word;">
          <span>E-mail</span>
        </th>
        <th>
          <span>Data Nasc.</span>
        </th>
        <th style="width: 100px">
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
      <tr class="table-body-line">
        <td>
          {{rowData.nome}}
        </td>
        <td>
          {{rowData.cpf | cpf}}
        </td>
        <td style="word-break: break-word;">
          {{rowData.email}}
        </td>
        <td>
          {{rowData.dataDeNascimento}}
        </td>
        <td class="text-center">
          <a [routerLink]="['/pessoa/form', rowData.id]" style="color: #000; padding-right: 10px">
            <i class="material-icons">
              edit
            </i>
          </a>
          <i class="material-icons" (click)="remover(rowData, rowIndex)">
            delete_forever
          </i>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="4" class="text-center">
          Nenhum registro
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
