<p-card header="Cadastro de Pessoa">
  <form id="form" #form="ngForm" class="form-components">
    <div class="row">
      <div class="col-12">
        <p-toast></p-toast>
      </div>

      <div class="col-12" *ngIf="pessoa?.id">
        <div class="form-group image-container">
          <img [src]="pessoa?.image ? pessoa.image : '/assets/avatar.jpg'" alt="imagem">

          <p-fileUpload mode="basic"
                        name="image"
                        chooseLabel="Selecionar Foto"
                        [url]="urlUpload"
                        accept="image/*"
                        maxFileSize="1000000"
                        (onUpload)="onUpload($event)"
                        (onError)="onError($event)"
                        [auto]="true">
          </p-fileUpload>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="form-group">
          <label for="nome" i18n="@@nome">Nome</label>
          <input [(ngModel)]="pessoa.nome"
                 id="nome"
                 maxlength="150"
                 name="nome"
                 pInputText
                 type="text"/>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="form-group">
          <label for="cpf" i18n="@@cpf">CPF</label>
          <input [(ngModel)]="pessoa.cpf"
                 id="cpf"
                 maxlength="11"
                 name="cpf"
                 pInputText
                 type="text"/>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="form-group">
          <label for="email" i18n="@@email">E-mail</label>
          <input [(ngModel)]="pessoa.email"
                 id="email"
                 maxlength="400"
                 name="email"
                 pInputText
                 type="text"/>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="form-group">
          <label for="dataDeNascimento" i18n="@@dataDeNascimento">Data Nasc.</label>
          <p-calendar [(ngModel)]="pessoa.dataDeNascimento"
                      dataType="string"
                      dateFormat="dd/mm/yy"
                      id="dataDeNascimento"
                      name="dataDeNascimento">
          </p-calendar>
        </div>
      </div>
    </div>
  </form>
  <p-footer>
    <div class="action-buttons">
      <button pButton type="button" label="Salvar"
              class="p-button" (click)="salvar()">
      </button>

      <button pButton type="button" label="Novo"
              class="p-button-secondary" (click)="novo()">
      </button>
    </div>

  </p-footer>
</p-card>
